<h2><% if @game.current_turn == @game.player_1 %>

<%= @game.player_1.name %> attacked <%= @game.player_2.name %><br>

<% else %>

<%= @game.player_2.name %> attacked <%= @game.player_1.name %>

<%end%></h2>

<% if @game.game_over? == true %>

<%= @game.loser %> loses

<% end %>

<form action="/switch_turns" method = "post">
  <input type="submit" value="Ok">
</form>
